NEXT_PUBLIC_API_URL=http://localhost:8000

# Polar checkout links
NEXT_PUBLIC_POLAR_CHECKOUT_INDIE=https://buy.polar.sh/polar_cl_HmWbpa6oeLs6vcSucDQR5rlWXMPsne5p33MOi2RZPFg
NEXT_PUBLIC_POLAR_CHECKOUT_PRO=https://buy.polar.sh/polar_cl_4u3xFxj5G4klKE5jhYIDGMXmhyL7kjaTQe9Ux34e9Wb
